{{ if .Site.Params.darkNav }}
<nav class="ui secondary inverted menu dream-menu">
{{ else }}
<nav class="ui secondary menu dream-menu">
{{ end }}
  <div class="item">
    <i class="large link home icon" title="{{ i18n "home" }}" onclick="window.location.href = '{{ .Site.BaseURL }}'"></i>
  </div>
</nav>
