{{ if .Site.Params.backgroundImage }}
<article class="ui raised card dream-card" style="box-shadow: none;">
{{ else }}
<article class="ui raised card dream-card">
{{ end }}
  <div class="image">
    {{ if isset .Params "cover" }}
      <img src="{{ .Params.cover }}" alt="{{ .Title }}" />
    {{ else }}
      <img src="/img/default{{ index (shuffle (seq 1 4)) 0 }}.jpg" alt="{{ .Title }}" />
    {{ end }}
  </div>

  <div class="content">
    <h2 class="ui medium header">
      {{ .Title }}
    </h2>
    <div class="meta">
      <p class="date">{{ .Date.Format "Monday, Jan 2, 2006" }}</p>
      <p class="author">@ {{ if isset .Params "author" }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }}</p>
    </div>
    <div class="description">
      {{ .Summary | plainify | htmlUnescape }}
    </div>
  </div>


</article>
